.carousel {
    padding: 81px 0 82px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        right: -66px;
        left: auto;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        button {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 1px solid red;
            margin-right: 10px;
            background-color: white;
            outline: none;
        }
        .tns-nav-active {
            background-color: red;
        }
    }
}